/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .6)), 
                url('/static/images/bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
    margin-left: 20px; 
}

.language-selector button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px; 
}

/* Estilos do conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.promo-image {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #5736ddcb;
}

.button:hover {
    background-color: #4a2eb0;
    border-color: #fff;
}

.login-link {
    display: inline-block;
    padding: 15px 30px;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #6250a9d9;
}

.login-link:hover {
    background-color: #796a96;
    border-color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .promo-image {
        width: 80px;
    }

    h1 {
        font-size: 20px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
    }
}
