<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Documentos</title>
    <link rel="stylesheet" href="./static/css/cadastro.css">
    <link rel="stylesheet" href="./static/css/drag_drop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">

    <style>
        /* Estilo para escurecer a tela */
        .darken {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Cor escura com 50% de opacidade */
            z-index: 999; /* Garante que fique acima de todos os outros elementos */
            display: none; /* Inicialmente oculto */
        }

        /* Estilo para centralizar o gif */
        #loading {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000; /* Garante que fique acima do escurecimento */
            display: none; /* Inicialmente oculto */
        }
    </style>
</head>
<body>
    <form id="formulario" action="/submit-your-form-handler" method="post" enctype="multipart/form-data">
        <h2>Etapa I - Documentação</h2>
        <div>
            <label for="nomeCompleto">NOME COMPLETO:</label>
            <input type="text" id="nomeCompleto" name="nomeCompleto" required>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>
        </div>
        <div>
            <label for="rg">RG:</label>
            <input type="text" id="rg" name="rg" required>
        </div>
        <div>
            <label for="dataExpedicao">DATA DE EXPEDIÇÃO:</label>
            <input type="date" id="dataExpedicao" name="dataExpedicao" required>
        </div>
        <div>
            <label for="dataNascimento">DATA DE NASCIMENTO:</label>
            <input type="date" id="dataNascimento" name="dataNascimento" required>
        </div>
        <div>
            <label for="nomeMae">NOME DA MÃE:</label>
            <input type="text" id="nomeMae" name="nomeMae" required>
        </div>
        <div class="hero">
            <label for="input-file" id="drop-area">
                <input type="file" accept="image/*" id="input-file" name="input-file" hidden>
                <div id="img-view">
                    <img src="./static/img/frente_doc_icon.png" alt="">
                    <p>Arraste e solte ou clique aqui<br>para anexar sua imagem</p>
                    <span>Frente do Documento</span>
                </div>
            </label>
            <label for="input-file2" id="drop-area2">
                <input type="file" accept="image/*" id="input-file2" name="input-file2" hidden>
                <div id="img-view2">
                    <img src="./static/img/verso_doc_icon.png" alt="">
                    <p>Arraste e solte ou clique aqui<br>para anexar sua imagem</p>
                    <span>Verso do Documento</span>
                </div>
            </label>
        </div>
        <button type="submit" id="submit-button">Enviar</button>
    </form>
    
    <div id="darken" class="darken"></div>
    
    <div id="loading">
        <img src='/static/img/loader.gif' style="width: 200px; height: 200px;"> <b style="color: white;"></b>
    </div>
    
    <div>
        <div class="results" id="results"></div>
        <button id="continue-button" style="display:none; width: 100%; margin: 0 auto;" onclick="window.location.href='/face_detection'">Continuar</button>
    </div>
    

    <script src="{{url_for('static', filename='js/drag_drop.js')}}"></script>
    <script>
        function formatDate(dateString) {
            const [year, month, day] = dateString.split('-');
            return `${day}/${month}/${year}`;
        }

        document.getElementById('formulario').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);

            var dataExpedicao = document.getElementById('dataExpedicao');
            var dataNascimento = document.getElementById('dataNascimento');

            if (dataExpedicao.value) {
                formData.set('dataExpedicao', formatDate(dataExpedicao.value));
            }
            if (dataNascimento.value) {
                formData.set('dataNascimento', formatDate(dataNascimento.value));
            }

            var loading = document.getElementById('loading');
            var results = document.getElementById('results');
            var darken = document.getElementById('darken');

            loading.style.display = 'block';
            darken.style.display = 'block'; // Exibe a tela escura

            results.innerHTML = '';

            fetch('/submit-your-form-handler', {
                method: 'POST',
                body: formData
            }).then(response => response.text())
            .then(data => {
                loading.style.display = 'none';
                darken.style.display = 'none'; // Oculta a tela escura
                results.innerHTML = data;
                
                // Exibe o botão "Continuar" se a submissão do formulário foi bem-sucedida
                document.getElementById('continue-button').style.display = 'block';
                
                // Rola suavemente para a seção de resultados
                results.scrollIntoView({ behavior: 'smooth' });
            }).catch(error => {
                loading.style.display = 'none';
                darken.style.display = 'none'; // Oculta a tela escura
                results.innerHTML = 'Erro ao processar o OCR. Por favor, tente novamente.';
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
