<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocFacer - Simplificando o reconhecimento facial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='/images/temp-logo-docfacer.png') }}" alt="Logo DocFacer" class="logo">
            <div class="language-selector">
                <button>Brasil</button>
            </div>
        </header>

        <main>
            <!-- ><img src="{{ url_for('static', filename='images/logo.png') }}" alt="DocFacer Card" class="promo-image"> -->
            <h1>Um mundo digital sem complexidades</h1>
            <a href="/cadastro_cpf" class="button">Começar</a>
            <a href="/acesso" class="login-link">Entrar na minha conta</a>
        </main>
    </div>
</body>
</html>
